* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
body {
  background: #fff;
  color: #a7a3ca;
}

.top {
  text-align: center;
  font-weight: bolder;
}
.top-title {
  font-size: 16px;
  line-height: 40px;
}
.bottom {
  text-align: center;
  font-weight: bolder;
}
.bottom-desc {
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
}

.content {
  margin: 0 20px;
  padding: 10px 20px 10px;
  background: #f1f0f5;
  border: solid 1px #ccc;
  border-radius: 10px;
}
.content-id {
  border: none;
  outline: none;
  width: 160px;
  height: 14px;
  padding: 0 5px;
  line-height: 40px;
  border-bottom: 1px #a7a3ca solid;
  color: #a7a3ca;
  background: transparent;
}
.content-info-refer, .content-info-start {
  font-weight: bolder;
  border: 2px solid #a7a3ca;
  color: #a7a3ca;
  outline: none;
  background-color: transparent;
  height: 25px;
  width: 100%;
  border-radius: 25px;
  line-height: 23px;
  padding: 0 10px;
  margin-top: 10px;
}
.content-info-refer:hover, .content-info-start:hover {
  background-color: #a7a3ca;
  color: #fff;
}

.pop-up-fail {
  display: none;
}

.copy-success-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 200px;
  text-align: center;
  background: #f1f0f5;
  border-radius: 10px;
  display: none;
}

.content-opt {
  display: flex;
  justify-content: space-between;
  border: #a7a3ca 2px solid;
  margin: 10px 0;
  padding: 10px 0;
}

.left-content {
  margin: 0 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
form span {
  margin-left: 2px;
  margin-right: 10px;
}

.yzm {
  color: #a7a3ca;
  outline: none;
  border: 1px #a7a3ca solid;
  padding: 5px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.right-content {
  width: 40%;
  padding: 5px 0;
}

.time, .error {
  text-align: center;
}

.zfb {
  background-color: #c7c4e0;
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  margin: 5px auto;
  text-align: center;
}

.btn {
  padding: 0 10px;
  border: 1px solid gray;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}
#embed-captcha {
  width: 300px;
  margin: 0 auto;
}
.show {
  display: block;
  height: 30px;
}
.geetest_form p {
  margin: 0 auto;
  width: 510px;
  text-align: left;
}
footer {
  margin-bottom: 18px;
}
footer span {
  font-size: 0.8rem;
}
